[Unit]
Description=Minecraft Multiplayer Server
After=syslog.target network.target

[Service]
Type=simple
User=minecraft
EnvironmentFile=/etc/mcserver/mcserver.conf
ExecStart=/usr/local/bin/mcserver start
ExecReload=/usr/local/bin/mcserver reload
ExecStop=/usr/local/bin/mcserver stop